// global style
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  .ant-checkbox-inner {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .ant-checkbox-checked + span {
    background-color: red;
    span {
      background-color: #28ac55;
      &::before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
        left: -6px;
        border: 0;
        box-shadow: none;
      }
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eeeeee;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50px;
    height: 32px;
    width: 52px;
    &::before {
      position: absolute;
      content: "";
      height: 28px;
      width: 28px;
      left: 2px;
      bottom: 2px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 50%;
      background-color: #ffffff;
      border: 0.5px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15),
        0px 1px 1px rgba(0, 0, 0, 0.16);
    }
  }
}